@reference "../../../styles/app.css";

.inset {
  @apply h-screen overflow-hidden;
}

.header {
  @apply flex h-12 shrink-0 items-center gap-2 border-b border-border px-4;
}

.separator {
  @apply mr-2;
}

.title {
  @apply text-sm font-medium;
}

.main {
  @apply flex-1 h-full overflow-auto;
}
